<!DOCTYPE html>
    <h1>FLACK</h1>


    <h3>Login here:</h3>

    <form action="/" method="post">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password"/>
            </div>
            <button class="btn btn-primary" type="submit">Log In</button>
    </form>
    <form action="/register" method="get">
        <div>
            <button class="btn btn-primary " type="register">Register</button>
        </div>
    </form> 
</html>